[Unit]
Description=Lotos Idle Daemon
After=graphical.target

[Service]
Type=forking
ExecStart=/usr/local/bin/lotos_idle
Restart=always
RestartSec=5
User=input
Group=input
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
