[Unit]
Description=Lotos Idle Daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/lotos-idle
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
